<html xmlns:th="http://www.w3.org/1999/xhtml">

    <head lang="en">
        <th:block th:include="layout :: standard (page_title='Fofola')"></th:block>
    </head>

    <style>
        .wide-btn {
            width: 220px;
        }
    </style>

    <body>
        <div class="index_container">
            <h1 class="title_text"> Fofola </h1>
            <p class="title_subtext"> Startup time: <span th:text="${up_time}"> Up time </span> </p>

            <div id="services">
                <div class="service" style="width: 250px">
                    <p> Kramerius </p>
                    <a href="/change-access" class="btn btn-outline-secondary wide-btn" role="button"> Změnit viditelnost dokumentů </a>
                    <a href="/reindex" class="btn btn-outline-secondary wide-btn" role="button"> Reindexace dokumentů </a>
                    <a href="/delete" class="btn btn-outline-secondary wide-btn" role="button"> Mazání dokumentů </a>
                    <a href="/k-processes" class="btn btn-outline-secondary wide-btn" role="button"> Správa procesů </a>
                    <a href="/check-uuid" class="btn btn-outline-secondary wide-btn" role="button"> Vypsat základní info o UUID </a>
                    <a href="/tree" class="btn btn-outline-secondary wide-btn" role="button"> Zobrazit strom dokumentu </a>
                    <a href="/perio-parts-publish" class="btn btn-outline-secondary wide-btn" role="button"> Zveřejnit části periodik </a>
                    <a href="/img-editing" class="btn btn-outline-secondary wide-btn" role="button"> Editace obrázků </a>
                    <a href="/pdf" class="btn btn-outline-secondary wide-btn" role="button"> Generování PDF </a>
                </div>

                <div class="service" style="width: 250px">
                    <p> Virtuální sbírky </p>
                    <a href="/link_vc" class="btn btn-outline-secondary wide-btn" role="button"> Přídat/odstranit do/z virtuální sbírky </a>
                    <a href="/link-donator" class="btn btn-outline-secondary wide-btn" role="button"> Přídat/odstranit příznak donátoru </a>
                    <a href="/check-donator" class="btn btn-outline-secondary wide-btn" role="button"> Kontrola příznaku donátoru </a>
                </div>

                <div class="service">
                    <p> Interní věci </p>
                    <a href="/internal-processes" class="btn btn-outline-secondary" role="button"> Processy Fofoly </a>
                </div>
            </div>
        </div>
    </body>
</html>