.button {
    color: black;
    border: 1px solid #6F3317;
    margin: 5px;
    font-family: 'Avenir Medium', serif;
    font-size: 16px;
    width: 220px;
    display: inline-block;
    font-weight: 400;
    padding: .375rem .75rem;
    border-radius: .25rem;
    text-decoration: none;
}

.button:hover {
    border-color: #6F3317;
    color: black;
    background: #F88F2A url("../../img/hover-btn.png");
}
