<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>Kramerius Data Integrity Checker</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </head>
    <body>

        <a href="/">home</a>

        <table id="modelInfo" class="table">
            <thead>
            <tr>
                <th> Model </th>
                <th> Count </th>
            </tr>
            </thead>
            <tbody>
                <tr th:if="${modelCount.isEmpty()}">
                    <td colspan="2"> No models available </td>
                </tr>

                <tr th:each="record : ${modelCount}">
                    <td th:text="${record.key}">keyvalue</td>
                    <td th:text="${record.value}">num</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>