<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>Kramerius Data Integrity Checker</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </head>
    <body>

        <a href="/">home</a>

        <table id="modelInfo" class="table" th:if="${!running_process}">
            <thead>
            <tr>
                <th> Model </th>
                <th> Count </th>
            </tr>
            </thead>
            <tbody>
                <tr th:if="${modelCount.isEmpty()}">
                    <td colspan="2"> No models available </td>
                </tr>

                <tr th:each="record : ${modelCount}">
                    <td th:text="${record.key}"> Model name </td>
                    <td th:text="${record.value}"> Doc count </td>

                    <td>
                        <form action="#" th:action="@{/check_solr_integrity}" method="post">
                            <input type="hidden" name="model" th:value="${record.key}">
                            <input type="hidden" name="docCount" th:value="${record.value}">
                            <button type="submit" name="action" value="run"> Check </button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>

        <table id="problemsInfo" class="table" th:if="${running_process}">

            <form action="#" th:action="@{/check_solr_integrity}" method="post">
                <button type="submit" name="action" value="stop"> Stop process </button>
            </form>

            <thead>
                <tr>
                    <th> Uuid </th>
                    <th> Problem </th>
                </tr>
            </thead>

            <tbody>
                <tr th:if="${modelCount.isEmpty()}">
                    <td colspan="2"> No problems available </td>
                </tr>

                <tr th:each="problem : ${problems}">
                    <td th:text="${problem.key}"> Uuid </td>
                    <td th:text="${problem.value}"> Problem description </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>