<html xmlns:th="http://www.w3.org/1999/xhtml">

    <head lang="en">
        <th:block th:include="layout :: standard (page_title='Fofola')"></th:block>
    </head>

    <body>
        <div class="index_container">
            <h1 class="title_text"> Fofola </h1>
            <p> Startup time: <span th:text="${up_time}"> Up time </span> </p>

            <div id="services">

                <div class="service">
                    <p> Solr </p>
                    <a href="/reindex" class="btn btn-outline-secondary" role="button"> Reindexace dokumentů </a>
                    <a href="/removeTree" class="btn btn-outline-secondary" role="button"> Vymazat z indexu </a>
<!--                    <a href="/check_solr_integrity" class="btn btn-outline-secondary disabled" role="button" aria-disabled="true"> Zkontrolovat index </a>-->
<!--                    <a href="/generate_sitemap" class="btn btn-outline-secondary disabled" role="button" aria-disabled="true"> Vygenerovat sitemapy </a>-->
                </div>

                <div class="service">
                    <p> Kramerius </p>
                    <a href="/check_uuid" class="btn btn-outline-secondary" role="button"> Vypsat základní info o UUID </a>
                    <a href="/change_rights" class="btn btn-outline-secondary" role="button"> Změnit viditelnost dokumentů </a>
                    <a href="/tree" class="btn btn-outline-secondary" role="button"> Zobrazit strom dokumentu </a>
                    <a href="/processes" class="btn btn-outline-secondary" role="button"> Správa procesů </a>
                </div>

                <div class="service">
                    <p> Fedora </p>
                </div>
            </div>
        </div>
    </body>
</html>