<html xmlns:th="http://www.w3.org/1999/xhtml">

<head lang="en">
    <th:block th:include="layout :: standard (page_title='Fofola')"></th:block>
    <th:block th:include="layout :: websocket"></th:block>
    <script src="/js/internal_processes.js"></script>
    <link rel="stylesheet" type="text/css" href="css/processes.css">
</head>

<style>
    #wait-spin {
        position: absolute;
        height: 4rem;
        width: 4rem;
        left: 45%;
        top: 45%;
    }
    td {
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>

<body>
<div>
    <a id="home-image" href="/" style="float: left"><img src="img/home.png" width="100" height="100"></a>

    <div class="container" style="padding-top: 1%; width: 90%; max-width: unset">
        <div class="white-rounded-back" style="width: unset; height: unset">
            <div>

                <div class="form-inline form-check">
                    <input class="form-check-input" type="checkbox" name="radio" id="auto_reload" checked>
                    <label class="form-check-label" for="auto_reload"> Načítat automaticky (interval: 5 sec.) </label>
                </div>

                <div class="form-inline">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item" onclick="previousProcessPage()">
                                <a class="page-link" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" style="padding: .3rem .7rem;">
                                <input class="submit" id="page_num" type="text" size="3" value="1" style="text-align:center;"/>
                            </a></li>
                            <li class="page-item" onclick="nextProcessPage()">
                                <a class="page-link" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="form-inline form-check" style="display: inline; float: right; margin-top: 35px">
                    <input class="form-check-input" type="checkbox" name="radio" title="Vybrat všechno"
                           onclick="updateSelect(this)" id="operation_checkbox">
                    <button class="kill_btn" onclick="operateChecked('kill')" title="Zastavit"></button>
                    <button class="remove_btn" onclick="operateChecked('remove')" title="Smazat"></button>
                </div>

                <div style="clear: both"></div>
            </div>
        </div>
    </div>
</div>

<div id="uuid_table_container" class="uuid-table-container" style="padding-top: 1%">
    <div id="wait-spin" class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>

    <div class="card table-responsive scrollable-list" style="height: 80%">
        <table id="uuid_table" class="table table-light table-hover table-borderless">
            <thead class="thead-light">
            <tr>
                <th> PID </th>
                <th> Typ </th>
                <th> Stav </th>
                <th> Spuštěno </th>
                <th> Ukončeno </th>
                <th> Info </th>
                <th> Operace </th>
            </tr>
            </thead>
            <tbody style="max-height: 60%"></tbody>
        </table>
    </div>
</div>
<script>
    var pageNum = document.getElementById('page_num');
    pageNum.addEventListener("keyup", function(event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            goToPage(pageNum.value)
        }
    });
    $('table').on('click', 'tr.parent', function(){
        var uuid = this.cells[0].textContent;
        var els = document.getElementsByClassName(uuid);
        for (var i = 0; i < els.length; i++) {
            els[i].classList.toggle('open');
        }
    });
</script>
</body>
</html>