<html xmlns:th="http://www.w3.org/1999/xhtml">

<head lang="en">
    <th:block th:include="layout :: standard (page_title='Fofola')"></th:block>
    <th:block th:include="layout :: websocket"></th:block>
    <script src="/js/link_vc.js"></script>
</head>

<style>
    .scrollable-list {
        width: 45em;
        margin-left: 30%;
        margin-right: 40%;
    }
    #wait-spin {
        position: absolute;
        height: 4rem;
        width: 4rem;
        left: 45%;
        top: 45%;
    }
</style>

<body>
<a id="home-image" href="/"><img src="img/home.png" width="100" height="100"></a>

<div class="container">
    <div class="white-rounded-back">
        <div class="panel-bar">
            <form class="form-inline" style="display: inline-block" action="#">
                <label for="fedora_host">Adresa Fedory</label>
                <input class="text" id="fedora_host" type="text" size="20"/>
                <label for="fedora_user">Uživatel</label>
                <input class="text" id="fedora_user" type="text" size="20"/>
                <label for="fedora_pswd">Heslo</label>
                <input class="text" id="fedora_pswd" type="text" size="20"/>
            </form>

            <form class="form-inline" style="display: inline-block" action="#">
                <label for="solr_host">Adresa indexu</label>
                <input class="text" id="solr_host" type="text" size="20"/>
                <label for="vc_uuid">UUID virtuální sbírky</label>
                <input class="text" id="vc_uuid" type="text" size="20"/>
            </form>

            <form class="form-inline" action="#" style="display: inline-block" enctype="multipart/form-data">
                <label>UUID kořene</label>
                <input class="text" id="enter_uuid" type="text" size="20"/>
                <button class="btn btn-outline-secondary btn-light" id="load_uuid_submit">Načíst uuid</button>
                <label>Vyberte soubor s UUID kořenů</label>
                <label class="btn btn-outline-secondary btn-light" for="enter_file">Vybrat</label>
                <input type="file" name="file" id="enter_file" style="width:0; visibility:hidden; display: none"/>
                <button class="btn btn-outline-secondary btn-light" id="load_file_submit"
                        type="submit" style="visibility:hidden; display: none">
                    Načíst UUIDs ze souboru
                </button>
            </form>

            <div style="clear: both"></div>
        </div>

        <div id="link_panel" class="panel-bar">
            <form class="form-inline" action="#">
                <button class="btn btn-outline-secondary btn-light" type="submit" id="link_button">Přídat do virtuální sbírky</button>
            </form>

            <form class="form-inline" action="#">
                <p class="form-inline"> Celkem:  <span id="total"></span></p>
            </form>

            <div style="clear: both"></div>
        </div>

    </div>
</div>

<script>
        var file = document.getElementById('enter_file');
        var submit = document.getElementById('load_file_submit');
        file.onchange = function(){
            var filePath = file.value;
            var allowedExtensions = /(\.txt)$/i;
            if(!allowedExtensions.exec(filePath)){
                alert('Please upload file having extensions .txt only.');
                file.value = '';
                return false;
            }
            submit.style.display = "block";
            submit.style.visibility = 'visible';
        };
    </script>
</body>
</html>
