.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.container {
    position: relative;
    width: max-content;
    margin: auto;
}

#tree_page_container {
    position: relative;
    border: 2px solid #6F3317;
    height: calc(93% - 100px); /* TODO (height - margin-bottom) - home image height */
    border-radius: 5px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    background-color: white;
}

#tree_container {
    float: left;
    width: 75%;
    height: 100%
}

#info_container {
    border-left: 2px solid #6F3317;
    visibility: hidden;
    float: right;
    width: 25%;
    height: 100%
}

#info_container td
{
    text-align: center;
    vertical-align: middle;
}

#info_container td button
{
    background: url("img/copyclip.png");
    width:20px;
    height:20px;
    border: 0;
    background-size: 100%;
}

.ok {
    background: url("img/tick.png");
    width:20px;
    height:20px;
    border: 0;
    background-size: 100%;
    display:block;
    margin:auto;
}

.error {
    background: url("img/cross.png");
    width:20px;
    height:20px;
    border: 0;
    background-size: 100%;
    display:block;
    margin:auto;
}

#info_container td a:link {
    color: green;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.disabled {
    pointer-events: none;
    cursor: default;
    color: black !important;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.uuid-table-container {
    padding: 3% 1%;
}

.uuid-table-container table {
    border-radius: 5px;
}

.scrollable-list {
    overflow: auto;
    height: 60%;
}

.uuid-table-container th, .uuid-table-container td {
    text-align: center;
    border-color: black;
    padding-left: 0;
    padding-right: 0;
}

.form-inline p {
    margin: 0;
    padding-top: 15%;
}

th.uuid-column {
    width: 23em;
}

.panel-bar {
    width: fit-content;
    font-weight: bold;
    margin: auto;
}

.form-inline {
    display: flex;
    margin: 20px;
    float: left;
}

.white-rounded-back {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    border: 1px solid black;

    width: fit-content;
    height: fit-content;
}

/* Add some margins for each label */
.form-inline label {
    margin: 5px 10px 5px 0;
}

/* Style the input fields */
.form-inline input .text {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
    .form-inline input {
        margin: 10px 0;
    }

    .form-inline {
        flex-direction: column;
        align-items: stretch;
    }
}
