@font-face {
  font-family: 'foral_proextrabold';
  src: url('font/foral_pro_extrabold-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Book';
  src: url("font/Avenir-Book.woff") format('woff');
}

@font-face {
  font-family: 'Avenir Medium';
  src: url("font/Avenir-Medium.woff") format('woff');
}

@font-face {
  font-family: 'OpenSans Regular';
  src: url('font/OpenSans-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(https://fonts.gstatic.com/s/robotoslab/v8/BngMUXZYTXPIvIBgJJSb6ufA5qW54A.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

body {
  font-family: 'Avenir Book', serif;
  background-image: url('img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
