.logs_btn {
    background: url("../img/logs.jpg");
    width:20px;
    height:20px;
    border: 0;
    background-size: 100%;
    margin-left: 5px;
    margin-right: 5px;
}
.kill_btn {
    background: url("../img/stop.png");
    width:20px;
    height:20px;
    border: 0;
    background-size: 100%;
    margin-left: 5px;
    margin-right: 5px;
}
.remove_btn {
    background: url("../img/remove.png");
    width:20px;
    height:20px;
    border: 0;
    background-size: 100%;
    margin-left: 5px;
    margin-right: 5px;
}

.open {
    display: table-row !important;
}
.parent ~ .child {
    display: none;
}
.parent {
    cursor: pointer;
    background-color: #F2F2F4;
}
.child {
    border-bottom: 1px dashed black;
    border-right: 1px dashed black;
    border-left: 1px dashed black;
}